<div class="row gold">
    <div class="col-xs-12">
        <div><p class="title">About Us</p></div>
        <div class="right"><p class="textP">Ifno inf o o nas cokolwiek chcesz to tu sie dowiesz</p></div>
        
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Tutaj kolejne info o nas </p>
    </div>
</div>
<div class="row gold">
    <div class="col-xs-12">
        <p>Tutaj info o nas </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Tutaj kolejne info o nas </p>
    </div>
</div>