<div class="row gold pad">
    <div class="col-xs-12">
        <div class="left"><p class="title golden">About Us</p></div>
        <div class="right"><p class="textP golden">Outly was founded with a single store in Venice 10 years ago, with a lot of passion and the desire to take up a challenge.</p></div>
        
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Tutaj kolejne info o nas </p>
    </div>
</div>
<div class="row gold">
    <div class="col-xs-12">
        <p>Tutaj info o nas </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Tutaj kolejne info o nas </p>
    </div>
</div>