<div class="item" style="margin-bottom:50px; margin-top:50px">
    <div class="row gold pad">
        <div class="col-xs-12">
            <div class="left"><p class="title golden">About Us</p></div>
            <div class="right"><p class="textP golden">Outly was founded with a single store in Venice 10 years ago, with a lot of passion and the desire to take up a challenge.</p></div>
            
        </div>
    </div>
</div>
<!-- <div class="item">
    <div class="row pad">
        <div class="col-xs-12">
            <p>It can now be found across 6 countries, boasting 40 strategically located stores in the leading and most prestigious shopping outlets. Outly offers the widest choice of optical frames and sunglasses from the best brands at exceptional prices, with discounts of up to 70% of the list price. This is because Outly offers a selection of models that precede the current collection, all with a 2-year guarantee. Over the years Outly has increased its presence and expanded its skills, investing heavily in the vision sector.
    
                Sight is a precious necessity, and so it’s important to take care of it by contacting trained and reliable professionals. Outly has decided to invest heavily in this area, equipping each store with specialized optical personnel and the latest-generation machinery to directly produce and assemble ophthalmic lenses in store. All lenses are produced by an Italian market leader, known for their uncompromising quality and high level performance, always aiming to ensure the best quality/price ratio on the market.
                
                Outly. Your trusted optician. </p>
        </div>
    </div>
</div> -->

<div class="item"
style="margin-bottom:50px">
    <div class="row gold pad">
        <div class="col-xs-12">
            <div class="left"><p class="title golden">Work with us</p></div>
        </div>
        <div class="col-xs-12 right">
            <div ><p class="textP golden">We are always looking for motivated people to be part of our company.</p></div>
            <div ><p class="textP golden">Send your application to <a href="#">info&#64;outly.it</a></p></div>
        </div>
    </div>
</div>

<div class="item" >
    <div class="row gold pad" style="margin-bottom:50px">
        <div class="col-xs-12">
            <div class="left"><p class="title golden">Contact us</p></div>
            <div class="right"><p class="textP golden">We can answer any questions about OUTLY at <a href="$#">info&#64;outly.it</a></p></div>
            <div class="right"><p class="textP golden">We can dispel your doubts about products and services for sale at <a href="$#">customer.care&#64;outly.it</a> </p></div> 
        </div>
    </div>
</div>
