.row{
    padding: 5rem;
    display: flex;
}
.gold{
    width: 100%;
    height: 100%;
    background-color: #efe2d1;
}
.title{
    font-size: 50px;
    /* font-weight: bold; */
}

.textP{
font-size: 35px;
}
.golden{
    color:#b58f28;
}
.pad{
    padding: 2rem  10rem 1rem 10rem;
}
.whiteC{
    background-color: white;
}
a{
    color:gray;
}


@media (max-width: 900px) {

.textP{
font-size: 14px;
}
.title{
font-size: 20px;
}
.pad{
    padding: 2rem  3rem 1rem 3rem;
}

}