<div class="until">
    <div class="until__component" >
      <div class="until__numeric untill__numeric--days">{{days}}</div>
      <div class="until__unit">Days</div>
    </div>
    <div class="until__component">
      <div class="until__numeric untill__numeric--days">{{hours}}</div>
      <div class="until__unit">Hours</div>
    </div>
    <div class="until__component">
      <div class="until__numeric untill__numeric--days">{{minutes}}</div>
      <div class="until__unit">Minutes</div>
    </div>
    <div class="until__component">
      <div class="until__numeric untill__numeric--days">{{seconds}}</div>
      <div class="until__unit">Seconds</div>
    </div>
    <div class="until__event">Until 1 February 2024</div>
  </div>
  