<div class="row">
    <h2 class="title">Services</h2>
    <div class="col-xs-12">
        <!-- <div class="border"> -->
            
            <div class="card">
                <h2 class="cardText"> Free eye test </h2>
            </div>
        <!-- </div> -->
        
        <div class="card">
            <h2 class="cardText">  Glasses ready in one hour </h2>
        </div>
        <div class="card">
            <h2 class="cardText">  Glasses to your home </h2>
        </div>
    </div>
</div>