.card{
    width: 600px;
    height: 400px;
    border: 2px solid gold;
    background-color: black;
    
}
.col-xs-12{
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: center;
}
.row{
    padding: 4rem 4rem 4rem 4rem;
}
.title{
    justify-content: left;  
    text-align: left;
    align-items: left;
    border-bottom: 2px solid gold;
}