.card{
    width: 400px;
    height: 350px;
    
    min-width: 200px;
    min-height: 200px;
    max-width: 600px;
    transition: background-color 0.2s;
    display: flex;
    padding: 1rem;
    flex-grow: 1;
    
}

.card:hover {
    
    border: 0.5px solid #000;
    
    background:rgba(251, 247, 247, 0.1);
    .cardText{
        color: black;
        
    }
    .hiddenText{
        color: black;
        font-family: 'Montserrat', sans-serif;
    }
    .hiddenDiv{
        opacity:1;
    }
    
    
}
.hiddenDiv{
    
    opacity: 0;
}
.cardText{
    color:white;
    text-align: left;
    
}


.col-xs-12{
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: center;
    max-width: 1500px;
    
    
    
}
.row{
    padding: 4rem 4rem 4rem 4rem;
    
}
.title{
    
    
    padding-left: 14rem;
    padding-right: 15.5rem;
    margin-bottom: 3rem;
    max-width: 1500px;
}
.brown{
background-color: #b89685;
}
.gold{
    background-color: rgba(213, 188, 22, 0.702);
}
.silver
{
    background-color: #a8b7ab;
}
.hiddenText{
    
   margin-top: 2rem;
   font-size: 18px;
   text-align: left;
    
    
}
.row{
    justify-content: center;
}

@media (max-width: 900px) {
    .col-xs-12{
       
        padding: 0;
        
        
        
        
    }
    .title{
        padding: 0;
    }
.row{
    padding: 3rem;
}
  }