<div class="row">
    <h2 class="title">Services</h2>
    <div class="col-xs-12">
        <!-- <div class="border"> -->
            
            <div class="card gold">
                <h2 class="cardText"> Free eye test </h2>
            <div class="hiddenDiv">
                <p class="hiddenText">Our specialised opticians are waiting for you in store, 
                    where you can take advantage of a free eye test without making an appointment. 
                    The service is always free and available, even on weekends.</p>
                </div>
            </div>
        <!-- </div> -->
        
        <div class="card brown">
            <h2 class="cardText">  Glasses ready in one hour </h2>
            <div class="hiddenDiv">
                <p class="hiddenText">Each store is equipped with a grinding machine that is used to shape and adapt lenses to the 
                    type of alteration and treatment required. This means that most lenses can be made directly in store.</p>
                    <blockquote style="margin-top: 2rem;font-size: 16px;font-style: italic;color:gray">Offer available only in Italy</blockquote>
            </div>
            
        </div>
        <div class="card silver">
            <h2 class="cardText">  Glasses to your home </h2>
            <div class="hiddenDiv">
                <p class="hiddenText">If lenses can’t be made directly in store, for example due to a very complex alteration, 
                    don’t worry: we’ll send the glasses to your home by courier without charging shipping fees.</p>
            </div>
           
        </div>
        <div class="card silver">
            <h2 class="cardText">  Glasses to your home </h2>
            <div class="hiddenDiv">
                <p class="hiddenText">If lenses can’t be made directly in store, for example due to a very complex alteration, 
                    don’t worry: we’ll send the glasses to your home by courier without charging shipping fees.</p>
                   
                    
            </div>
            
        </div>
    </div>
</div>