.grid{
    display:flex;
    padding: 2rem;
    
   
}


.col-md-3, .col-md-9 {
    flex: 1;
    
}
img {
    max-width: 935px;
    width: 100%;
    height: 100%;
    
   
    
   
}
.col-md-9{
  min-width: 900px;
}
.imageTopContainer {
    position: relative;
  }
  
  .imageTop {
    max-width: 935px;
    width: 100%;
    height: 100%;
    
    
  }
  
  .hiddenText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    border: 1px solid #cb9f67;
    background: #fff;
    z-index: 2;
    padding: 20px;
    opacity: 0; 
    transition: opacity 0.5s;
  }
  
  .overlay:hover .hiddenText {
    opacity: 1; 
  }
  
  .imageText {
    text-align: center;
    font-size: 18px;
  }
  
  .cardText{
    font-size: 26px;
  }
  
  .boldStyle{
font-weight: bold;
  }
  .pInCard{
    font-size: 18px;
    margin-bottom: 10px;
    
  }

  .marginTop{
    margin-top: 2rem;
  }

.info{
    font-size: 30px;
    margin-top: 2rem;
}




h2{
color:rgb(199, 135, 26);
}
hr{
    color: rgb(199, 135, 26);;
}
@media (max-width: 1200px) {
    .grid {
        flex-direction: column;
    }
.container{
  padding: 0;
  justify-content: left;
  margin: 0;
}
.col-md-3{
  width: 100%;
  max-width: 100%;
}

.grid{
  
  padding-top: 1rem;;
  
}
    
/*                                          */
  }
  @media (max-width: 900px) {
    .col-md-9{
      min-width: 400px;
    }
    .grid{
      min-width: 400px;
      
    }
  }
