
<app-header  (featureSelected)="onNavigate($event)"></app-header>
<app-offer-component *ngIf="loadedFeature==='offers'" ></app-offer-component>
<!-- <div class="row">
    <div class="col-xs-12">
        <app-counter></app-counter>
       
        
    </div>
</div>
<div class="col-xs-12">
    <app-changing-photo></app-changing-photo>
</div> -->
<div class="row">
        <app-brands-page *ngIf="loadedFeature==='store'"></app-brands-page>
        <app-stores-page *ngIf="loadedFeature==='brands'"></app-stores-page>
        <app-counter *ngIf="loadedFeature==='services'"></app-counter>
        <app-changing-photo *ngIf="loadedFeature==='services'"></app-changing-photo>
        
</div>

<div class="row">
    <div class="col-xs-12">
        
    </div>
   
</div>
  
<div class="bottom">
<app-footer></app-footer>
</div>

