<app-image-carousel></app-image-carousel>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/img_BRANDS_360x200-3.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/img_BRANDS_360x200-3.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
        <div class="col">
            <img src="https://www.outly.it/immagini/brands/160/retina_img_BRANDS_360x200-17.png">
        </div>
       
        
                     
    </div>
</div>
