<div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col">
        <div class="container">
            <section class="mx-auto my-5" style="max-width: 23rem;">
                
              <div class="card booking-card v-2 mt-2 mb-4 rounded-bottom">
                <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                  <img src="https://lh3.googleusercontent.com/p/AF1QipNL-nC-Zg5vwRrginofhF3_T5I_U2l98Y6CjpBL=s680-w680-h510" class="img-fluid">
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title font-weight-bold"><a>Poznań</a></h4>
                  <ul class="list-unstyled list-inline mb-2">
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"> </i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-half-alt fa-xs"></i></li>
                  </ul>
                  
                  <p class="card-text">Dębiecka 1</p>
                  <p class="card-text">62-030 Luboń</p>
                  <p class="card-text">+48 885 430 588</p>
                  <hr class="my-4">
                  <p class="h5 font-weight-bold mb-4">Opening hours</p>
                  <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                    <li>Monday - Saturday</li>
                    <li>
                      <div class="chip ms-3">10:00AM</div>
                    </li>
                    <li>
                      <div class="chip ms-0 me-0">9:00PM</div>
                    </li>
                  </ul>
                  <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                    <li>Sunday</li>
                    <li>
                      <div class="chip">9:00AM</div>
                    </li>
                    <li>
                      <div class="chip">8:00PM</div>
                    </li>
                  </ul>
                  
                </div>
              </div>
              
            </section>
          </div>
    </div>
    <div class="col">
      <div class="container">
        <section class="mx-auto my-5" style="max-width: 23rem;">
            
          <div class="card booking-card v-2 mt-2 mb-4 rounded-bottom">
            <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
              <img src="https://lh3.googleusercontent.com/p/AF1QipMlmIN-sGwMyzYKNB0G0OVagHDZObTJG7euSH-u=s680-w680-h510" class="img-fluid">
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title font-weight-bold"><a>Warszawa</a></h4>
              <ul class="list-unstyled list-inline mb-2">
                <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"> </i></li>
                <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                <li class="list-inline-item"><i class="fa fa-star-half-alt fa-xs"></i></li>
              </ul>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <hr class="my-4">
              <p class="h5 font-weight-bold mb-4">Opening hours</p>
              <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                <li>Monday - Saturday</li>
                    <li>
                      <div class="chip ms-3">10:00AM</div>
                    </li>
                    <li>
                      <div class="chip ms-0 me-0">9:00PM</div>
                    </li>
                  </ul>
                  <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                    <li>Sunday</li>
                <li>
                  <div class="chip ms-3">CLOSED</div>
                </li>
              </ul>
            </div>
          </div>
          
        </section>
      </div>
    </div>
    <div class="col">
        <div class="container">
            <section class="mx-auto my-5" style="max-width: 23rem;">
                
              <div class="card booking-card v-2 mt-2 mb-4 rounded-bottom">
                <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                  <img src="https://lh3.googleusercontent.com/p/AF1QipMPfF8opRxZBfqzXipekGDOf-xXIDItsIIdUytx=s680-w680-h510" class="img-fluid">
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title font-weight-bold"><a>Gdańsk</a></h4>
                  <ul class="list-unstyled list-inline mb-2">
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"> </i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-half-alt fa-xs"></i></li>
                  </ul>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                  <hr class="my-4">
                  <p class="h5 font-weight-bold mb-4">Opening hours</p>
                  <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                 
                    <li>Monday - Saturday</li>
                    <li>
                      <div class="chip ms-3">10:00AM</div>
                    </li>
                    <li>
                      <div class="chip ms-0 me-0">9:00PM</div>
                    </li>
                  </ul>
                  <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                    <li>Sunday</li>
                    <li>
                      <div class="chip ms-3">CLOSED</div>
                    </li>
                  </ul>
                </div>
              </div>
              
            </section>
          </div>
    </div>
    <div class="col">
        <div class="container">
            <section class="mx-auto my-5" style="max-width: 23rem;">
                
              <div class="card booking-card v-2 mt-2 mb-4 rounded-bottom">
                <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                  <img src="https://lh3.googleusercontent.com/p/AF1QipO2-9IThZD5Vyw1Ggs-JqvonsEs0O9se34hrPPn=s680-w680-h510" class="img-fluid">
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title font-weight-bold"><a>Wrocław</a></h4>
                  <ul class="list-unstyled list-inline mb-2">
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"> </i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-half-alt fa-xs"></i></li>
                  </ul>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                  <hr class="my-4">
                  <p class="h5 font-weight-bold mb-4">Opening hours</p>
                  <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                    

                    <li>Monday - Saturday</li>
                    <li>
                      <div class="chip ms-3">10:00AM</div>
                    </li>
                    <li>
                      <div class="chip ms-0 me-0">9:00PM</div>
                    </li>
                  </ul>
                  <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                    <li>Sunday</li>
                    <li>
                      <div class="chip ms-3">CLOSED</div>
                    </li>
                  </ul>
                </div>
              </div>
              
            </section>
          </div>
    </div>
    <div class="col">
        <div class="container">
            <section class="mx-auto my-5" style="max-width: 23rem;">
                
              <div class="card booking-card v-2 mt-2 mb-4 rounded-bottom">
                <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                  <img src="https://lh3.googleusercontent.com/p/AF1QipO2-9IThZD5Vyw1Ggs-JqvonsEs0O9se34hrPPn=s680-w680-h510" class="img-fluid">
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title font-weight-bold"><a>Wrocław</a></h4>
                  <ul class="list-unstyled list-inline mb-2">
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"> </i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-half-alt fa-xs"></i></li>
                  </ul>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                  <hr class="my-4">
                  <p class="h5 font-weight-bold mb-4">Opening hours</p>
                  <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                    

                    <li>Monday - Saturday</li>
                    <li>
                      <div class="chip ms-3">10:00AM</div>
                    </li>
                    <li>
                      <div class="chip ms-0 me-0">9:00PM</div>
                    </li>
                  </ul>
                  <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                    <li>Sunday</li>
                    <li>
                      <div class="chip ms-3">CLOSED</div>
                    </li>
                  </ul>
                </div>
              </div>
              
            </section>
          </div>
    </div>
    <div class="col">
        <div class="container">
            <section class="mx-auto my-5" style="max-width: 23rem;">
                
              <div class="card booking-card v-2 mt-2 mb-4 rounded-bottom">
                <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                  <img src="https://lh3.googleusercontent.com/p/AF1QipO2-9IThZD5Vyw1Ggs-JqvonsEs0O9se34hrPPn=s680-w680-h510" class="img-fluid">
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title font-weight-bold"><a>Wrocław</a></h4>
                  <ul class="list-unstyled list-inline mb-2">
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"> </i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-half-alt fa-xs"></i></li>
                  </ul>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                  <hr class="my-4">
                  <p class="h5 font-weight-bold mb-4">Opening hours</p>
                  <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                    

                    <li>Monday - Saturday</li>
                    <li>
                      <div class="chip ms-3">10:00AM</div>
                    </li>
                    <li>
                      <div class="chip ms-0 me-0">9:00PM</div>
                    </li>
                  </ul>
                  <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                    <li>Sunday</li>
                    <li>
                      <div class="chip ms-3">CLOSED</div>
                    </li>
                  </ul>
                </div>
              </div>
              
            </section>
          </div>
    </div>
    <div class="col">
      <div class="container">
          <section class="mx-auto my-5" style="max-width: 23rem;">
              
            <div class="card booking-card v-2 mt-2 mb-4 rounded-bottom">
              <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                <img src="https://lh3.googleusercontent.com/p/AF1QipO2-9IThZD5Vyw1Ggs-JqvonsEs0O9se34hrPPn=s680-w680-h510" class="img-fluid">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title font-weight-bold"><a>Wrocław</a></h4>
                <ul class="list-unstyled list-inline mb-2">
                  <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"> </i></li>
                  <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                  <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                  <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star-half-alt fa-xs"></i></li>
                </ul>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <hr class="my-4">
                <p class="h5 font-weight-bold mb-4">Opening hours</p>
                <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                  

                  <li>Monday - Saturday</li>
                  <li>
                    <div class="chip ms-3">10:00AM</div>
                  </li>
                  <li>
                    <div class="chip ms-0 me-0">9:00PM</div>
                  </li>
                </ul>
                <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                  <li>Sunday</li>
                  <li>
                    <div class="chip ms-3">CLOSED</div>
                  </li>
                </ul>
              </div>
            </div>
            
          </section>
        </div>
  </div>
  <div class="col">
    <div class="container">
        <section class="mx-auto my-5" style="max-width: 23rem;">
            
          <div class="card booking-card v-2 mt-2 mb-4 rounded-bottom">
            <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
              <img src="https://lh3.googleusercontent.com/p/AF1QipO2-9IThZD5Vyw1Ggs-JqvonsEs0O9se34hrPPn=s680-w680-h510" class="img-fluid">
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title font-weight-bold"><a>Wrocław</a></h4>
              <ul class="list-unstyled list-inline mb-2">
                <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"> </i></li>
                <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                <li class="list-inline-item"><i class="fa fa-star-half-alt fa-xs"></i></li>
              </ul>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <hr class="my-4">
              <p class="h5 font-weight-bold mb-4">Opening hours</p>
              <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                

                <li>Monday - Saturday</li>
                <li>
                  <div class="chip ms-3">10:00AM</div>
                </li>
                <li>
                  <div class="chip ms-0 me-0">9:00PM</div>
                </li>
              </ul>
              <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
                <li>Sunday</li>
                <li>
                  <div class="chip ms-3">CLOSED</div>
                </li>
              </ul>
            </div>
          </div>
          
        </section>
      </div>
</div>
<div class="col">
  <div class="container">
      <section class="mx-auto my-5" style="max-width: 23rem;">
          
        <div class="card booking-card v-2 mt-2 mb-4 rounded-bottom">
          <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
            <img src="https://lh3.googleusercontent.com/p/AF1QipO2-9IThZD5Vyw1Ggs-JqvonsEs0O9se34hrPPn=s680-w680-h510" class="img-fluid">
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title font-weight-bold"><a>Wrocław</a></h4>
            <ul class="list-unstyled list-inline mb-2">
              <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"> </i></li>
              <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
              <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
              <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
              <li class="list-inline-item"><i class="fa fa-star-half-alt fa-xs"></i></li>
            </ul>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <hr class="my-4">
            <p class="h5 font-weight-bold mb-4">Opening hours</p>
            <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
              

              <li>Monday - Saturday</li>
              <li>
                <div class="chip ms-3">10:00AM</div>
              </li>
              <li>
                <div class="chip ms-0 me-0">9:00PM</div>
              </li>
            </ul>
            <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
              <li>Sunday</li>
              <li>
                <div class="chip ms-3">CLOSED</div>
              </li>
            </ul>
          </div>
        </div>
        
      </section>
    </div>
</div>
<div class="col">
  <div class="container">
      <section class="mx-auto my-5" style="max-width: 23rem;">
          
        <div class="card booking-card v-2 mt-2 mb-4 rounded-bottom">
          <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
            <img src="https://lh3.googleusercontent.com/p/AF1QipO2-9IThZD5Vyw1Ggs-JqvonsEs0O9se34hrPPn=s680-w680-h510" class="img-fluid">
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title font-weight-bold"><a>Wrocław</a></h4>
            <ul class="list-unstyled list-inline mb-2">
              <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"> </i></li>
              <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
              <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
              <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
              <li class="list-inline-item"><i class="fa fa-star-half-alt fa-xs"></i></li>
            </ul>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <hr class="my-4">
            <p class="h5 font-weight-bold mb-4">Opening hours</p>
            <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
              

              <li>Monday - Saturday</li>
              <li>
                <div class="chip ms-3">10:00AM</div>
              </li>
              <li>
                <div class="chip ms-0 me-0">9:00PM</div>
              </li>
            </ul>
            <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0">
              <li>Sunday</li>
              <li>
                <div class="chip ms-3">CLOSED</div>
              </li>
            </ul>
          </div>
        </div>
        
      </section>
    </div>
</div>
  </div>